<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <connectionStrings>
    <add name="MyConnection" connectionString="dev" providerName="System.Data.SqlClient" />
    <add name="DB_9AB8B7_DDA5080ConnectionString" connectionString="Data Source=DESKTOP-EVKI86J\SQLEXPRESS;Initial Catalog=DB_9AB8B7_DDA5080;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>
